## Library imports

This section will contain the libraries for the development of the project.

In [131]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Initial data exploration

A first review of the dataset will be performed in order to know its general structure, distribution of values and main characteristics. In addition, the quality of the information will be evaluated by detecting missing values, inconsistent data types and possible duplicates.

In [132]:
df = pd.read_csv('cleaned.csv')  

print('\nBasic informations\n')
print(df.info())
print('\nSummary statistics\n')
print(df.describe())
print('\nMissing values\n')
print(df.isnull().sum())
print('\nDuplicated rows : ', df.duplicated().sum())
print()

Basic informations

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brand                2952 non-null   object
 1   Product_Description  2952 non-null   object
 2   Screen_Size          2952 non-null   float64
 3   RAM                  2952 non-null   object
 4   Processor            2952 non-null   object
 5   GPU                  2604 non-null   object
 6   GPU_Type             2718 non-null   object
 7   Resolution           2565 non-null   object
 8   Condition            2952 non-null   object
 9   Price                2952 non-null   float64
dtypes: float64(2), object(8)
memory usage: 230.8+ KB
None

Summary statistics

       Screen_Size        Price
count  2952.000000  2952.000000
mean     14.550237   517.552805
std       1.175322   235.592872
min      10.000000     0.000000
25%      14.000000   325.990000
50%      14.000000   489.990000
75%      15.600000   699.000000
max      18.000000   999.990000

Missing values

Brand                    0
Product_Description      0
Screen_Size              0
RAM                      0
Processor                0
GPU                    348
GPU_Type               234
Resolution             387
Condition                0
Price                    0
dtype: int64

Duplicated rows :  0

### Categorical Variables Overview
To better understand categorical variables, we review the Number of unique values and the most frequent categories:

In [133]:
cat_columns = ['Brand', 'RAM', 'Processor', 'GPU', 'GPU_Type', 'Resolution', 'Condition']

for col in cat_columns:
    if col in df.columns:
        print(f'\n{col} - Number of unique values: {df[col].nunique()}')
        print(df[col].value_counts())

Brand - Number of unique values: 25
Brand
Dell         1109
Lenovo        627
HP            578
Microsoft     197
Asus          134
Acer          100
MSI            62
Samsung        61
LG             38
Gateway        13
Panasonic       5
Apple           5
Razer           4
Sony            3
Gigabyte        3
Dell Inc.       2
Chuwi           2
Intel           2
Huawei          1
Getac           1
Google          1
ByteSpeed       1
Eurocom         1
AVITA           1
Ruggon          1
Name: count, dtype: int64

RAM - Number of unique values: 23
RAM
16       1318
8        1185
32        273
4          84
64         47
8GB         7
16gb        6
12          6
8gb         4
up          3
8GB,        3
24          2
40          2
20          2
16GB        2
upto        1
256         1
512         1
4GB         1
64gb        1
32GB        1
Up          1
16GB,       1
Name: count, dtype: int64

Processor - Number of unique values: 48
Processor
Intel Core i5 11th Gen.        450
Intel Core i7 11th Gen.        330
Intel Core i7 12th Gen.        231
Intel Core i5 8th Gen.         223
Intel Core i5 10th Gen.        212
Intel Core i5 12th Gen.        188
Intel Core i7 8th Gen.         177
Intel Core i7 13th Gen.        168
Intel Core i7 10th Gen.        131
Intel Core i3 11th Gen.        130
Intel Core i5 13th Gen.        101
Intel Core i5 6th Gen.          84
Intel Core i3 10th Gen.         59
Intel Core i5 7th Gen.          54
Intel Core i3 12th Gen.         52
Intel Core i5 4th Gen.          46
Intel Core i7 6th Gen.          46
Intel Core i7 7th Gen.          41
Intel Core i7 4th Gen.          36
Intel Core i7 9th Gen.          32
Intel Core i5 5th Gen.          20
AMD Ryzen 5 7000 Series         19
Intel Core i3 8th Gen.          12
Intel Core i3 4th Gen.          11
Intel Core i3 6th Gen.          10
AMD Ryzen 7 7000 Series          9
AMD Ryzen 5 5000 Series          9
Intel Core i7 5th Gen.           8
Intel Core i9 13th Gen.          8
Intel Core i5 9th Gen.           8
Intel Core i3 13th Gen.          7
Intel Core i9 9th Gen.           6
AMD Ryzen 9 7000 Series          6
AMD Ryzen 3 3000 Series          5
AMD Ryzen 7 5000 Series          4
Intel Core i3 7th Gen.           3
Intel Core i9 12th Gen.          3
Intel Core i9 11th Gen.          2
AMD Ryzen 3 4000 Series          2
AMD Ryzen 5 3000 Series          1
AMD Ryzen 9 6000 Series          1
Intel Core i9 10th Gen.          1
Intel Core i9 8th Gen.           1
AMD Ryzen 7 4000 Series          1
Intel Core i3 5th Gen.           1
Intel Core i7 8th Gen. vPRO      1
AMD Ryzen 5 6000 Series          1
AMD Ryzen 7 6000 Series          1
Name: count, dtype: int64

GPU - Number of unique values: 220
GPU
Intel Iris Xe Graphics              998
Intel UHD Graphics                  468
Intel UHD Graphics 620              199
Intel HD Graphics                    69
Intel(R) Iris(R) Xe Graphics         57
                                   ...
Intel Iris Plus Graphics 655 GPU      1
Intel HD Graphics 4400                1
nVidia GeForce RTX 3060               1
Intel Iris XE Graphics                1
NVIDIA Quadro M2200 w/4GB GDDR 5      1
Name: count, Length: 220, dtype: int64

GPU_Type - Number of unique values: 8
GPU_Type
Integrated/On-Board Graphics      2265
Dedicated Graphics                 445
Iris Xe Graphics                     2
Integrated                           2
Intel UHD Graphics                   1
Intergrated Intel UHD Graphics       1
Intel Iris Xe Graphics               1
Intel® UHD Graphics                  1
Name: count, dtype: int64

Resolution - Number of unique values: 54
Resolution
1920 x 1080                                   1666
1920 x 1200                                    239
1366 x 768                                     157
2560 x 1600                                     67
2256 x 1504                                     59
1536 x 1024                                     43
3840 x 2160                                     41
1920x1080                                       34
1920 x 1280                                     27
3840 x 2400                                     21
2736 x 1824                                     19
2880 x 1800                                     17
1366x768                                        17
2560 x 1440                                     17
1600 x 900                                      16
2880 x 1920                                     15
2496 x 1664                                     13
2240 x 1400                                     11
1900 x 1200                                     10
3456 x 2160                                      8
3072 x 1920                                      7
2160 x 1440                                      7
2400 x 1600                                      7
1536x1024                                        4
1920 x 1080 (Full HD)                            4
2880 x 1620                                      3
3000 x 2000                                      3
15.6                                             2
1024 x 768                                       2
FHD (1920 x 1080)                                2
Not Included                                     2
3240 x 2160                                      2
1366 x 786                                       2
1920 x 1080 pixels                               1
2256x1504                                        1
1536 x 1204                                      1
1920X1080                                        1
1600 x 768                                       1
FHD+ 1920 x 1200                                 1
2560x1440                                        1
1080p                                            1
3840x2160                                        1
3200 x 1800                                      1
1920 x 1080 Full HD                              1
5K                                               1
Touchscreen                                      1
FHD                                              1
2240x1400                                        1
2496x1664                                        1
2160 x 1350                                      1
3840X2400                                        1
3200x1800                                        1
2560x1600                                        1
15.6" UltraSharp FHD IPS Touch (1920x1080)       1
Name: count, dtype: int64

Condition - Number of unique values: 5
Condition
New                        833
Open box                   806
Very Good - Refurbished    490
Good - Refurbished         437
Excellent - Refurbished    386
Name: count, dtype: int64

## Cleaning datas

First, we'll make the data in the processor column usable.

In [134]:
def split_processor(proc):
    parts = proc.split()
    brand = parts[0] if len(parts) > 0 else None
    type_ = ' '.join(parts[1:3]) if len(parts) >= 3 else None
    gen = ' '.join(parts[3:5]) if len(parts) > 3 else None
    return pd.Series([brand, type_, gen])

df[['Processor_Brand', 'Processor_Type', 'Processor_Gen']] = df['Processor'].apply(split_processor)

print(f'\nNumber of unique values: {df[['Processor_Brand']].nunique()}\n')
print(df[['Processor_Brand']].value_counts().head())

print(f'\nNumber of unique values: {df[['Processor_Type']].nunique()}\n')
print(df[['Processor_Type']].value_counts())

print(f'\nNumber of unique values: {df[['Processor_Gen']].nunique()}\n')
print(df[['Processor_Gen']].value_counts())

Number of unique values: Processor_Brand    2
dtype: int64

Processor_Brand
Intel              2893
AMD                  59
Name: count, dtype: int64

Number of unique values: Processor_Type    8
dtype: int64

Processor_Type
Core i5           1386
Core i7           1201
Core i3            285
Ryzen 5             30
Core i9             21
Ryzen 7             15
Ryzen 3              7
Ryzen 9              7
Name: count, dtype: int64

Number of unique values: Processor_Gen    15
dtype: int64

Processor_Gen
11th Gen.        912
12th Gen.        474
8th Gen.         414
10th Gen.        403
13th Gen.        284
6th Gen.         140
7th Gen.          98
4th Gen.          93
9th Gen.          46
7000 Series       34
5th Gen.          29
5000 Series       13
3000 Series        6
4000 Series        3
6000 Series        3
Name: count, dtype: int64

Next, we'll do the same for the GPU column. This is more difficult, as there are several possible entries for the same output. In addition, we'll be looking for the processor brand for integrated GPUs, and have to deal with null values.

In [135]:
def get_gpu_brand(gpu):
    if pd.isna(gpu):
        return None
    return gpu.split()[0]

df['GPU_Brand'] = df['GPU'].apply(get_gpu_brand)
print(f'\nnumber of unique values before processing: {df[['GPU_Brand']].nunique()}\n')
def clean_gpu_brand(raw):
    if pd.isna(raw):
        return None
    first_word = raw.split()[0].lower().replace('(r)', '').replace('®', '').strip()

    mapping = {
        'intel': 'Intel',
        'nvidia': 'NVIDIA',
        'amd': 'AMD',
        'radeon': 'AMD',
        'iris': 'Intel',
        'microsoft': 'Microsoft',
        'integrated': 'Integrated',
        'skylake': 'Intel',
        'invidia': 'NVIDIA',
        'nvdia': 'NVIDIA',
        'i5-8250u': 'Intel'
    }

    return mapping.get(first_word, first_word.title())

df['GPU_Brand'] = df['GPU'].apply(clean_gpu_brand)

def normalize_gpu_type(gpu_type):
    if pd.isna(gpu_type):
        return gpu_type
    
    integrated_keywords = ['Integrated', 'On-Board Graphics', 'Iris', 'Intel UHD', 'Intergrated', 'Intel® UHD Graphics']
    for keyword in integrated_keywords:
        if keyword.lower() in gpu_type.lower():
            return 'Integrated'
    
    return gpu_type

df['GPU_Type'] = df['GPU_Type'].apply(normalize_gpu_type)

def process_gpu_info(row):
    gpu_brand = row['GPU_Brand']
    processor_brand = row['Processor_Brand']
    gpu_type = row['GPU_Type']

    if gpu_brand == 'Integrated':
        return pd.Series({
            'GPU_Brand': processor_brand,
            'GPU_Type': 'Integrated'
        })
    else:
        if gpu_type == 'Integrated':
            return pd.Series({
                'GPU_Brand': processor_brand,
                'GPU_Type': gpu_type 
            })
        else:
            return pd.Series({
                'GPU_Brand': gpu_brand,
                'GPU_Type': gpu_type 
            })

df[['GPU_Brand', 'GPU_Type']] = df.apply(process_gpu_info, axis=1)


print(f'\nNumber of unique values: {df[['GPU_Brand']].nunique()}')
print(f'\nMissing values {df['GPU_Brand'].isnull().sum()}')
print(df['GPU_Brand'].value_counts())

print(f'\nNumber of unique values: {df[['GPU_Type']].nunique()}')
print(f'\nMissing values {df['GPU_Type'].isnull().sum()}')
print(df['GPU_Type'].value_counts())

number of unique values before processing: GPU_Brand    23
dtype: int64


Number of unique values: GPU_Brand    3
dtype: int64

Missing values 106
GPU_Brand
Intel     2414
NVIDIA     347
AMD         85
Name: count, dtype: int64

Number of unique values: GPU_Type    2
dtype: int64

Missing values 234
GPU_Type
Integrated            2273
Dedicated Graphics     445
Name: count, dtype: int64

Next, we can normalize resolution

In [136]:
import re

def normalize_resolution(res):
    if pd.isna(res):
        return 'Unknown'

    res = res.strip()

    match = re.match(r'(\d+)\s*x\s*(\d+)', res)
    if match:
        width = int(match.group(1))
        height = int(match.group(2))

        if width < 100 or height < 100 or width > 8000 or height > 8000:
            return 'Unknown'

        return f'{width} x {height}'
    
    return 'Unknown'

df['Resolution'] = df['Resolution'].apply(normalize_resolution)
top_10_resolutions = df['Resolution'].value_counts().nlargest(10).index

def top_resolution(res):
    if pd.isna(res) or res == '':
        return 'Unknown'
    
    if res in top_10_resolutions:
        return res
    
    return 'Other'

df['Resolution'] = df['Resolution'].apply(top_resolution)

print(f'\nNumber of unique values: {df[['Resolution']].nunique()}')
print(f'\nMissing values {df['Resolution'].isnull().sum()}')
print(df['Resolution'].value_counts())

Number of unique values: Resolution    11
dtype: int64

Missing values 0
Resolution
1920 x 1080    1706
Unknown         401
1920 x 1200     239
1366 x 768      174
Other           167
2560 x 1600      68
2256 x 1504      60
1536 x 1024      47
3840 x 2160      42
1920 x 1280      27
3840 x 2400      21
Name: count, dtype: int64

RAM and Brand columns need also to be cleaned

In [137]:
def clean_ram(value):
    if pd.isna(value):
        return 'Unknown'
    
    value_str = str(value).lower().replace('gb', '').replace(',', '').strip()

    try:
        ram_int = int(value_str)
        if 1 <= ram_int <= 64:
            return ram_int
    except ValueError:
        pass
    
    return 'Unknown'

df['RAM'] = df['RAM'].apply(clean_ram)

print(f'\nUnique values: {df["RAM"].nunique()}')
print(df['RAM'].value_counts())

top_10_brands = df['Brand'].value_counts().nlargest(10).index
def top_brand(res):
    if pd.isna(res) or res == '':
        return 'Unknown'
    
    if res in top_10_brands:
        return res
    
    return 'Other'

df['Brand'] = df['Brand'].apply(top_brand)

print(f'\nUnique values: {df["Brand"].nunique()}')
print(df['Brand'].value_counts())

columns_to_delete = ['Product_Description', 'Processor', 'GPU']
df = df.drop(columns=columns_to_delete)

Unique values: 10
RAM
16         1327
8          1199
32          274
4            85
64           48
Unknown       7
12            6
24            2
40            2
20            2
Name: count, dtype: int64

Unique values: 11
Brand
Dell         1109
Lenovo        627
HP            578
Microsoft     197
Asus          134
Acer          100
MSI            62
Samsung        61
LG             38
Other          33
Gateway        13
Name: count, dtype: int64

## Data numerization

In [138]:
columns_to_encode = [
    'Brand', 'RAM', 'GPU_Type', 'Resolution', 'Condition',
    'Processor_Brand', 'Processor_Type', 'Processor_Gen', 'GPU_Brand'
]
for column in columns_to_encode:
    df = pd.get_dummies(df, columns=[column], prefix=column)
df.head()

,Screen_Size,Price,Brand_Acer,Brand_Asus,Brand_Dell,Brand_Gateway,Brand_HP,Brand_LG,Brand_Lenovo,Brand_MSI,...,Processor_Gen_5th Gen.,Processor_Gen_6000 Series,Processor_Gen_6th Gen.,Processor_Gen_7000 Series,Processor_Gen_7th Gen.,Processor_Gen_8th Gen.,Processor_Gen_9th Gen.,GPU_Brand_AMD,GPU_Brand_Intel,GPU_Brand_NVIDIA
0,14.0,189.99,False,False,False,False,False,False,True,False,...,False,False,False,False,True,False,False,False,True,False
1,15.6,349.99,False,False,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,True,False
2,15.6,369.95,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,15.6,459.00,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
4,15.6,499.00,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False

## Exploratory Data Analysis (EDA)
Price distribution